<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>

    <script type="module" th:src="@{/js/components/header.js}" defer></script>
    <script type="module" th:src="@{/js/components/footer.js}" defer></script>
  </head>
  <body onload="renderContent()">
    <div class="container">
      <div class="wrapper">
        <div id="header"></div>
        <main class="main-content">
          <label for="searchBar"></label><input
            type="text"
            id="searchBar"
            class="searchBar"
            placeholder="Search doctors by name..."
          />
          <div class="filters">
            <label for="timeFilter"></label><select id="timeFilter">
              <option value="">All Times</option>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
            <label for="specialtyFilter"></label><select id="specialtyFilter">
              <option value="">All Specialties</option>
              <option value="Cardiologist">Cardiologist</option>
              <option value="Dentist">Dentist</option>
              <option value="Dermatologist">Dermatologist</option>
              <option value="Neurologist">Neurologist</option>
              <option value="Orthopedic">Orthopedic</option>
              <option value="Pediatrician">Pediatrician</option>
              <option value="Psychiatrist">Psychiatrist</option>
              <option value="General Practitioner">General Practitioner</option>
            </select>
          </div>
          <div id="content"></div>
        </main>
        <div id="footer"></div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <div id="modal-body"></div>
      </div>
    </div>
  </body>
  <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
  <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>
</html>
